@using Core.Business.DataAccess.Constants
@using Yatra.Resources

@{
    string maxlength = "100";//LengthConstants.PASSWORD_MAX_LENGTH.ToString();
}

<div class="input_holder">
    <input class="form-control" data-val="true" data-val-required="The Password field is required." id="NewPassword" maxlength=@maxlength onpaste="return false;" autocomplete="off" name="NewPassword" placeholder="@Resource.lbl_new @Resource.lbl_password" type="password" onkeydown="CallEnter(event, 'Submit')" onkeypress="    return jsAvoidSpace(event)">
</div>
<div class="clearfix"></div>
<div class="input_holder mtop20">
    <input class="form-control" data-val="true" data-val-required="The Confirm Password field is required." id="ConfirmPassword" name="ConfirmPassword" onpaste="return false;" autocomplete="off" maxlength=@maxlength placeholder="@Resource.lbl_confirmpassword" type="password" onkeydown="CallEnter(event, 'Submit')" onkeypress="    return jsAvoidSpace(event)">
</div>
<div class="clearfix"></div>
<div class="mtop20">
    <input id="Submit" type="button" onclick="SubmitPasswordForm('@Model.Pass_ResetID')" name="Submit" value="Submit" class="btn btn-primary" />
</div>
<div>&nbsp;</div>
