@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}
<!-- Body Section -->
<!-- Banner Section -->
<section class="lpage-banner-container">
    <div class="lpage-cust-container-inner">
        <div class="lpage-cust-container-inner-p20">
            <div class="lpage-banner-lp">
                <div class="lpage-banner-img-lp">
                    <img src="~/images/home-page-banner-mob-1.png" alt="image" class="img">
                </div>
                <div class="clear"></div>
            </div>
            <div class="lpage-banner-rp">
                <div class="lpage-banner-content">
                    <h1 class="lpage-banner-title">
                        Welcome to Pravas, your ultimate solution for seamless 
                        commuting between your workplace and nearby transportation hubs! Say goodbye to
                        commuting woes and hello to hassle-free rides with our intuitive application.
                        Whether you're heading to or from the office, Pravas ensures you reach your
                        destination efficiently and comfortably. With real-time updates, easy booking,
                        and reliable drivers, your daily commute just got a whole lot smoother.
                        Download Pravas now and experience stress-free travel like never before!
                    </h1>

                    <p class="lpage-banner-para mtop20">
                        At Pravas, we understand the daily struggles and challenges
                        faced by commuters as they navigate the bustling urban landscape. That's why
                        we've developed a comprehensive solution designed to simplify your daily
                        journey between your workplace and nearby transportation hubs such as railway
                        stations or metro stations. Pravas isn't just another ride-sharing app – it's
                        your trusted companion for hassle-free commuting.
                    </p>
                    @* <div class="mtop20">
                        <a href="#" class="lpage-banner-link" target="_blank" rel="noopener"><img src="~/images/icon-app-googlestore.png" alt="image" class="app-icons"></a><span class="lpage-banner-appsep1"></span><a href="#" class="lpage-banner-link" target="_blank" rel="noopener"><img src="~/images/icon-app-appstore.png" alt="image" class="app-icons"></a>
                    </div> *@
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</section>
<!-- Banner Section END-->
<div class="clear"></div>